/* 
    Created on : Nov 14, 2016, 8:02:14 PM
    Author     : William Ngo
*/

#searchBar {
	width: 200px;
	font-size: 1em;
}

#historyBox{
    border: 5px solid black;
}

#historyBoxHeader{
    border: 2px solid aqua;
}